[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
flask = "*"
gunicorn = "*"
beautifulsoup4 = "*"
urllib2 = "*"
pandas = "*"
tabulate = "*"
lxml = "*"
html5lib = "*"

[requires]
python_version = "3.7"
